.form {
    border-radius: 25px 25px 0 0;
    background-color: rgba(133, 170, 159, 0.1);
    padding: 32px 16px 57px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 107%;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 16px;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 32px;
}

.formElement {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 15px;
    padding: 16px 18px;
    font-size: 16px;
    width: 100%;
}

.formElement:hover {
    border-color: var(--green);
}

.formElementError {
    border-color:  #d80027;
}

.formElementSuccess {
    border-color: #3cbf61;
}

.error {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #d80027;
}

.messageIcon {
    margin: 1px 0 1px 4px;
}

.success {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #3cbf61;
}

.btn {
    border-radius: 30px;
    background-color: var(--green);
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;
}

.btn:hover {
    background-color: #a5c0b8;
}

.link {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(18, 20, 23, 0.5);
    align-self: center;
}

.link:hover {
    color: var(--black);
}

.passwordContainer {
    position: relative;
}

.showPassword {
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .form {
        padding: 48px 64px;
        max-width: 627px;
        border-radius: 30px;
    }

    .title {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 20px;
    }

    .text {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .formField {
        gap: 18px;
    }

    .btn {
        font-size: 18px;
    }
}