.form {
    border-radius: 30px;
    background-color: rgba(133, 170, 159, 0.1);
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    margin-bottom: 20px
}

.text {
    font-size: 20px;
    color: rgba(18, 20, 23, 0.8);
    margin-bottom: 32px;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 32px;
}

.formElement {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 15px;
    padding: 16px 18px;
    font-size: 16px;
}

.formElement:hover {
    border-color: var(--green);
}

.formElementError {
    border-color:  #d80027;
}

.formElementSuccess {
    border-color: #3cbf61;
}

.error {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #d80027;
}

.messageIcon {
    margin: 1px 0 1px 4px;
}

.success {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #3cbf61;
}

.btn {
    border-radius: 30px;
    background-color: var(--green);
    padding: 16px 213px;
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;
}

.link {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: rgba(18, 20, 23, 0.5);
    align-self: center;
}

.passwordContainer {
    position: relative;
}

.showPassword {
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: transparent;
}
