@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-ExtraBold.otf') format('otf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-Light.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-Medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-SemiBold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MacPawFixelDisplay';
    src: url('/public/fonts/MacPawFixelDisplay-Thin.otf') format('otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

