@import url('./normalize.css');
@import url('./fonts.css');
@import url('./root.css');

/* BASE */

html {
  display: flex;
  flex-direction: column;

  align-items: center;
}

html,
body {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  width: 100%;

  box-sizing: border-box;
  scrollbar-width: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--font-family);

  position: relative;

  display: flex;

  flex-direction: column;

  flex: 1;

  background-color: var(--white-1);

  font-size: 1em;
  font-weight: 400;
  line-height: 150%;

  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  overflow-y: auto;

  scrollbar-width: none;

  flex: 1;
}

b {
  display: block;
}

span {
  display: inline-block;
}

section {
  max-width: 100%;
  flex-shrink: 0;
}

.loader,
.error {
  text-align: center;
  position: absolute;

  top: 20%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  height: 100%;
}
