/**
  Reset i normalizacja modelu boxowego
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
   Usunięcie lewego paddingu z list,
   które posiadają klasę
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Usunięcie domyślnych marginesów
   z body oraz wybranych elementów z klasą
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Usunięcie pionowych marginesów
   z nagłówków, list i paragrafów z klasą
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin: 0;
  padding: 0;
  border: none;
}

/**
   Usunięcie domyślnych punktorów
   z list nieuporządkowanych z klasą
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
   Reset marginesów paragrafu
   oraz zmienna pomocnicza dla dolnego odstępu
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

em {
  font-style: normal !important;
  letter-spacing: 0.05em;
}

/**
   Dziedziczenie stylów czcionki
   dla elementów formularza
  */
input,
textarea,
select,
button {
  font: inherit;
  background-color: transparent;
  color: inherit;
}

html {
  /**
     Ustawienie pełnej wysokości dokumentu
     (np. do przyklejenia stopki do dołu strony)
    */
  height: 100%;

  /**
     Zapobieganie przesunięciom layoutu
     przy pojawieniu się scrollbara
    */
  scrollbar-gutter: stable;
}

/**
   Płynne przewijanie strony
  */
html {
  scroll-behavior: smooth;
}

body {
  /**
     Minimalna wysokość całej strony
    */
  min-height: 100%;

  /**
     Ujednolicony line-height dla tekstu
    */
  line-height: 1.5;
}

/**
   Poprawka wysokości linków
   widocznych w DevTools
  */
a:where([class]) {
  display: inline-flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
   Kursor typu "pointer"
   dla elementów interaktywnych
  */
button,
label {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;

  transition-duration: var(--transition-duration);
}

table {
  border-collapse: collapse;
  border: none;
}

th,
td {
  border: none;
}

/**
   Ujednolicenie koloru SVG
   (z wyjątkiem elementów z fill="none" lub url)
  */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
   Ujednolicenie koloru obramowań SVG
   (z wyjątkiem stroke="none")
  */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
   Eliminacja opóźnień zmiany koloru
   przy interakcji z SVG
  */
svg {
  color: inherit;
  transition-property: fill, stroke;
}

/**
   Klasyczny tryb collapse
   dla obramowań tabel
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
   Wyłączenie animacji i przejść
   dla użytkowników preferujących reduced motion
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  font-size: inherit;
  letter-spacing: normal;
  line-height: inherit;
}

h5 {
  font-weight: 400;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
span {
  display: inline-block;
}

/* Usunięcie strzałek w input[type="number"] (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox - input number jako textfield */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Styl scrollbara w całym dokumencie */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Tło scrollbara */
::-webkit-scrollbar-track {
  background: white;
}

/* Suwak scrollbara */
::-webkit-scrollbar-thumb {
  background: black;
}
