:root {
  --font-family: 'MacPawFixelDisplay';
  --second-family: 'SF-Pro-Display';
  

  --black: #121417;
  --green: #85AA9F;
  --white-1: #F8F8F8;
  --white: #F8F8F8;
  

  color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}