.main {
    padding: 32px 16px 48px 16px;
}

@media screen and (min-width: 768px) {
    .main {
        padding: 80px 32px 48px;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        padding-left: 100px;
        padding-right: 100px;
    }
}