.header {
    background-color: #fff;
    height: 68px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.burgerBtn {
    width: 32px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.5px;
    align-items: flex-end;
}

.burgerBtn span {
    border: 2px solid var(--black);
    width: 27px;
    height: 0px;
    border-radius: 10px;
}

.burgerBtn span:nth-child(2) {
    width: 19px;
}

@media screen and (min-width: 768px) {
    .header {
        height: 88px;
        padding: 20px 32px;
    }

    .container {
       gap: 28px;          
    }

    .burgerBtn {
        width: 40px;
        height: 28px;
    }

    .burgerBtn span {
        border: 3px solid var(--black);
        width: 33px;
    }

    .burgerBtn span:nth-child(2) {
        width: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 20px 100px;
    }
    .burgerBtn {
        display: none;
    }
}