.header {
    padding-top: 16px;
    padding-left: 16px;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 24px;
        padding-left: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding-left: 100px;
    }
}