.container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.userName {
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}

.userNameMenu {
    color: var(--white);
}

.userIcon {
    border-radius: 30px;
    width: 36px;
    height: 36px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.userIconHeader {
    background-color: var(--green);
}

@media screen and (min-with:768px) {
    .container {
        gap: 16px;
    }

    .userName {
       font-size: 20px; 
    }

    .userIcon {
        width: 48px;
        height: 48px;
    }
}