.statistic {
    font-weight: 500;
    font-size: 14px;
    color: rgba(18, 20, 23, 0.5);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.statisticNumber {
    font-size: 20px;
    color: var(--black);
}