.overlay {
    position: fixed;
    inset: 0;
    background: rgba(18, 20, 23, 0.2);
    z-index: 999;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 185px;
    background-color: var(--green);
    z-index: 1000;
    overflow: hidden;

    transform: translateX(100%);
    transition: transform 0.3s ease;

    padding: 16px;
}

.open {
    transform: translateX(0);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 166px;
}
.logoutBtn {
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.logout {
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
}

.img {
    position: absolute;
    width: 363px;
    height: 318px;
    bottom: 0;
    right: -99px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 300px;
        padding: 20px 32px;
    }

    .container {
        margin-bottom: 170px;
    }

    .img {
        width: 498px;
        height: 435px;
        right: -116px;
    }
}