.container {
    position: fixed;
    border-radius: 15px;
    padding: 12px 24px;
    box-shadow: 0 4px 47px 0 rgba(18, 20, 23, 0.08);
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn {
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}